@model IEnumerable<UnaClayChildminding.Models.Testimonial>
@inject SignInManager<ApplicationUser> SignInManager

<div class="container-fluid">
    @Html.Partial("_header")
    <div class="container-fluid">
        @Html.Partial("_LeftPic")
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h3>Testimonials</h3>
            @if (SignInManager.IsSignedIn(User))
            {
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
            }

            <table class="table">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="panel panel-default panel-body">
                            <td>
                                @Html.Raw(item.Description.Replace("\r\n", "<br />"))
                            </td>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                </td>
                            }
                        </tr>
                        <tr class="spacer"><td></td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
