@model IEnumerable<UnaClayChildminding.Models.Testimonial>

<div class="container-fluid">
    @Html.Partial("_header")
    <div class="container-fluid">
        @Html.Partial("_LeftPic")
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h3>Testimonials</h3>

            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
